{% extends "../layout.html" %}

{% block header_headline_title %}
<span data-i18n="menu_spaconfig">SPA Config</span>
{% endblock %}

{% block top_navigation %}
{% run use_component("topNavigation", "config") %}
{% endblock %}

{% block content %}

<section>
    <table>
        <tr>
            <td><label for="price" data-i18n="label_price_kwh">Price per kWh:</label></td>
            <td><input type="text" id="price" value="1.50" maxlength="4" size="4"></td>
        </tr>
        <tr>
            <td><label for="clinterval" data-i18n="label_chlorine_interval">Chlorine add (Days):</label></td>
            <td><input type="text" id="clinterval" value="7" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="freplaceinterval" data-i18n="label_filter_change_interval">Filter change
                    (Days):</label></td>
            <td><input type="text" id="freplaceinterval" value="60" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="fcleaninterval" data-i18n="label_filter_clean_interval">Filter clean (Days):</label>
            </td>
            <td><input type="text" id="fcleaninterval" value="20" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="frinseinterval" data-i18n="label_filter_rinse_interval">Filter rinse (Days):</label>
            </td>
            <td><input type="text" id="frinseinterval" value="7" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="audio" data-i18n="label_audio">Audio:</label></td>
            <td><input type="checkbox" id="audio"></td>
        </tr>
        <tr>
            <td><label for="notification" data-i18n="label_notification">Notification:</label></td>
            <td><input type="checkbox" id="notification"></td>
        </tr>
        <tr>
            <td><label for="notificationtime" data-i18n="label_notification_time">Notification time (s):</label>
            </td>
            <td><input type="text" id="notificationtime" value="32" maxlength="3" size="3"></td>
        </tr>
        <tr>
            <td><label for="restore" data-i18n="label_restore_states">Restore last states on startup:</label>
            </td>
            <td><input type="checkbox" id="restore"></td>
        </tr>
        <tr>
            <td>
                <label for="calibration" data-i18n="label_calibrated">Calibrated:</label>
                <!-- Au lieu de data-text, on utilise data-i18n="[data-text]clé" -->
                <span data-i18n="[data-text]tooltip_calibrated_info" class="tooltip">?</span>
            </td>
            <td>
                <input type="checkbox" id="calibration" onclick="toggleCalibration()">
                <span data-i18n="[data-text]tooltip_calibrate_instr" class="tooltip left">?</span>
            </td>
            <td><a href="calib.html" data-i18n="link_manual_cal">manual cal.</a></td>
        </tr>
    </table>
</section>

<section>
    <table>
        <tr>
            <td data-i18n="section_display_buttons">Enabled display buttons.</td>
            <td>
                <label for="toggle_all" data-i18n="label_all">All:</label>
                <input type="checkbox" id="toggle_all" onclick="toggleAll()">
            </td>
        </tr>
        <tr>
            <td><label for="lock_btn" data-i18n="btn_lock">Lock</label><input type="checkbox" id="lock_btn">
            </td>
            <td><label for="timer_btn" data-i18n="btn_timer">Timer</label><input type="checkbox" id="timer_btn">
            </td>
            <td><label for="bubbles_btn" data-i18n="btn_air">Air</label><input type="checkbox" id="bubbles_btn">
            </td>
            <td><label for="unit_btn" data-i18n="btn_unit">Unit</label><input type="checkbox" id="unit_btn">
            </td>
            <td><label for="heat_btn" data-i18n="btn_heat">Heat</label><input type="checkbox" id="heat_btn">
            </td>
        </tr>
        <tr>
            <td><label for="pump_btn" data-i18n="btn_pump">Pump</label><input type="checkbox" id="pump_btn">
            </td>
            <td><label for="down_btn" data-i18n="btn_down">Down</label><input type="checkbox" id="down_btn">
            </td>
            <td><label for="up_btn" data-i18n="btn_up">Up</label><input type="checkbox" id="up_btn"></td>
            <td><label for="power_btn" data-i18n="btn_power">Pwr</label><input type="checkbox" id="power_btn">
            </td>
            <td><label for="hydrojets_btn" data-i18n="btn_jets">Jets</label><input type="checkbox" id="hydrojets_btn">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="2" class="center">
                <button id="save" class="button" onclick="buttonConfirm(this); saveConfig()"
                    data-i18n="button_save">save</button>
            </td>
        </tr>
    </table>
</section>

{% endblock %}

{% block footer %}
<p class="center" id="lastboot" data-i18n="footer_last_boot_loading">Last boot: loading...</p>
{% endblock %}

{% block embed_scripts %}
<script>
    loadConfig()

    function loadConfig() {
        var req = new XMLHttpRequest()
        req.open('POST', '/getconfig/')
        req.send()
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var json = JSON.parse(req.responseText)
                console.log(json)
                //document.getElementById('timezone').value = json.TIMEZONE.toString();
                document.getElementById('price').value = json.PRICE.toString()
                document.getElementById('freplaceinterval').value = json.FREPI.toString()
                document.getElementById('frinseinterval').value = json.FRINI.toString()
                document.getElementById('fcleaninterval').value = json.FCLEI.toString()
                document.getElementById('clinterval').value = json.CLINT.toString()
                document.getElementById('audio').checked = json.AUDIO
                document.getElementById('notification').checked = json.NOTIFY
                document.getElementById('notificationtime').value = json.NOTIFTIME.toString()
                document.getElementById('restore').checked = json.RESTORE
                var date = new Date(json.REBOOTTIME * 1000)
                document.getElementById('lastboot').innerHTML = 'Last boot: ' + date.toLocaleString() + ' ' + json.REBOOTINFO
                document.getElementById('calibration').checked = json.VTCAL
                document.getElementById('lock_btn').checked = json.LCK
                document.getElementById('timer_btn').checked = json.TMR
                document.getElementById('bubbles_btn').checked = json.AIR
                document.getElementById('unit_btn').checked = json.UNT
                document.getElementById('heat_btn').checked = json.HTR
                document.getElementById('pump_btn').checked = json.FLT
                document.getElementById('down_btn').checked = json.DN
                document.getElementById('up_btn').checked = json.UP
                document.getElementById('power_btn').checked = json.PWR
                document.getElementById('hydrojets_btn').checked = json.HJT
            }
        }
    }

    function saveConfig() {
        var req = new XMLHttpRequest()
        req.open('POST', '/setconfig/')
        var json = {
            //'TIMEZONE':parseInt(document.getElementById('timezone').value),
            'TIMEZONE': 0,
            'PRICE': parseFloat(document.getElementById('price').value),
            'FREPI': parseInt(document.getElementById('freplaceinterval').value),
            'FRINI': parseInt(document.getElementById('frinseinterval').value),
            'FCLEI': parseInt(document.getElementById('fcleaninterval').value),
            'CLINT': parseInt(document.getElementById('clinterval').value),
            'AUDIO': document.getElementById('audio').checked,
            'NOTIFY': document.getElementById('notification').checked,
            'NOTIFTIME': parseInt(document.getElementById('notificationtime').value),
            'RESTORE': document.getElementById('restore').checked,
            'VTCAL': document.getElementById('calibration').checked,
            'LCK': document.getElementById('lock_btn').checked,
            'TMR': document.getElementById('timer_btn').checked,
            'AIR': document.getElementById('bubbles_btn').checked,
            'UNT': document.getElementById('unit_btn').checked,
            'HTR': document.getElementById('heat_btn').checked,
            'FLT': document.getElementById('pump_btn').checked,
            'DN': document.getElementById('down_btn').checked,
            'UP': document.getElementById('up_btn').checked,
            'PWR': document.getElementById('power_btn').checked,
            'HJT': document.getElementById('hydrojets_btn').checked
        }
        req.send(JSON.stringify(json))
        console.log(json)
    }

    function toggleAll() {
        document.getElementById('lock_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('timer_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('bubbles_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('unit_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('heat_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('pump_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('down_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('up_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('power_btn').checked = document.getElementById('toggle_all').checked
        document.getElementById('hydrojets_btn').checked = document.getElementById('toggle_all').checked
    }

    function toggleCalibration() {
        let obj = document.getElementById('calibration')
        if (obj.checked) obj.checked = false
    }
</script>
{% endblock %}